/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2021, 3:20:19 PM
    Author     : manua
*/

@font-face {
    font-family: 'myfont';
    src: url('../fonts/teen.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}